@font-face {
  font-family: 'Cabin';
  src: url('~@/assets/fonts/Cabin-VariableFont_wdth\,wght.ttf') format('ttf'),
       url('~@/assets/fonts/Cabin-VariableFont_wdth\,wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}